In [5]:
import numpy as np
import pandas as pd
import sklearn
import sklearn.linear_model as lm
import sklearn.cross_validation as cv
import sklearn.grid_search as gs
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
train = pd.read_csv('train.csv')

pd.read_csv('train.csv')[:10]

In [8]:
train[train.columns[[2,5,5,1]]].head()

   Pclass  Title     Sex  Survived
0       3    Mr.    male         0
1       1   Mrs.  female         1
2       3  Miss.  female         1
3       1   Mrs.  female         1
4       3    Mr.    male         0